* {
  all: unset;
}

$foreground: #ffffff;
$background: #232136;
$border-color: #8F8AA8;

window {
  background: $background;
  border-bottom: 2px solid $border-color;
  border-left: 0px solid $border-color;
  border-right: 0px solid $border-color;
}

.bar_class {
  color: $foreground;
  font-family: 'BalsamiqSans', 'Maple Mono NF';
  font-size: 16px;
  margin: 0 10px 2px;
}

.workspace-entry {
  color: #8F8AA8;
  font-size: 25px;
}